---
permalink: /teaching/
title: "Teaching."
author_profile: true
---

{% include base_path %}

In the past, I've been Director of UG recruitment, and Director of Research, and taught modules for both UG and MSc introductions to Machine Learning.<br>
<br>
 
In October 2022, I'll be teaching new modules on
<i>Research Methods and How to Write a PhD Thesis</i> (Postgrad level),
and <I>Mathematical Topics in Machine Learning</i> (UG 3rd year).<br><br>

This page will contain details, as soon as possible....

<!--
{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
-->
