---
permalink: /teaching/
title: "Teaching."
author_profile: true
---

{% include base_path %}

I've been at Manchester since 2004 (full Professor since 2017) and have held a variety of roles.

The main ones have been... Director of UG recruitment, and Director of Research.
I've also taught the modules for both UG and MSc introduction to Machine Learning.
Some of the <a href="http://syllabus.cs.manchester.ac.uk/pgt/2019/COMP61011/">materials are still available</a>,
including <a href="">a book I wrote</a>.<br><br>

I've also taught invited sessions at various Summer Schools,
on Ensemble Methods and Advanced Feature Selection Methods.
Just ask me for the materials if you would like them.<br><br>



In October 2022, I'll be teaching new modules on
<i>Research Methods and How to Write a PhD Thesis</i> (Postgrad level),
and <I>Mathematical Topics in Machine Learning</i> (UG 3rd year).<br><br>

This page will contain details, as soon as possible....

<!--
{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
-->
