---
permalink: /teaching/
title: "Teaching."
author_profile: true
---

{% include base_path %}

I've been at Manchester since 2004 (full Professor since 2017) and have held a variety of roles.

The main ones have been... Director of UG recruitment, and Director of Research, and I've taught the modules for both UG and MSc introduction to Machine Learning.<br>
<br>
 
I've also taught invited sessions at various Summer Schools.
For example: I have also taught at some external Summer Schools - the most fun have been
Ensemble Methods (re-invited 3 times, in Benicassim, Spain),
and a Doctoral Seminar on Advanced Feature Selection Methods (University of Cagliari, Sardinia).
Ask me for the materials if you would like them.<br><br>



In October 2022, I'll be teaching new modules on
<i>Research Methods and How to Write a PhD Thesis</i> (Postgrad level),
and <I>Mathematical Topics in Machine Learning</i> (UG 3rd year).<br><br>

This page will contain details, as soon as possible....

<!--
{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
-->
