a:hover { background-color:blue; color:yellow; }

body {
    font-family: Arial, Lucida, Helvetica, sans-serif;
    background-color: #ffffff;
    font-color:darkblue;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

.titlebar {
    left: 48px;
    position: absolute;
    top: 30px;
    width: 90%;
	border: 0px;
	background-color:#fff;
	padding:0em;
}


.bodybox {
    left: 250px;
    position: absolute;
    width: 850px;
    top: 170px;
	border: 1px solid #f19126;
	background-color:#fff;
	padding:1em;
}


.widetitlebar {
    left: 0px;
    position: absolute;
    top: 0px;
	border: 0px;
	background-color:#fff;
	padding:0em;
}

.widebodybox {
    left:10px;
    position: absolute;
    width: 800px;
    height:1010;
    top: 130px;
	border: 1px solid #f19126;
	background-color:#fff;
	padding:1em;
}

.menubox {
    left: 50px;
    position: absolute;
    top: 170px;
    width: 160px;
    font-size:.8em;
    border: 1px solid #f19126;
    padding:1em;
}
