{% include base_path %}

<meta charset="utf-8">

{% include seo.html %}

<link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ base_path }}/feed.xml{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>


	<!-- jQuery: Grab Google CDN jQuery. fall back to local if necessary -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

	<script>!window.jQuery && document.write('<script src="jquery-1.4.1.min.js"><\/script>')</script>
	
	<!-- The raptorize file  -->
	<script src="https://profgavinbrown.github.io/raptorize/jquery.raptorize.1.0.js"></script>
	
	<!-- For the button version -->
	<script type="text/javascript">
		$(window).load(function() {
			$('.raptor').raptorize();
		});
	</script>
	

<!-- For all browsers -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/main.css">

<meta http-equiv="cleartype" content="on">
